.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #fff;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.hero {
  display: block;
  width: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-image-mask {
  width: 100%;
  margin-left: 40px;
}

.hero-image {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading {
  font-family: Poppins, sans-serif;
  font-size: 60px;
  line-height: 78px;
  font-weight: 600;
}

.paragraph {
  font-family: Poppins, sans-serif;
}

.subscribe-form {
  padding-top: 100px;
  padding-bottom: 100px;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.subscribe-form-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.subscribe-form-input-wrapper {
  text-align: left;
}

.subscribe-form-input {
  width: 222px;
  min-width: 300px;
  margin-bottom: 0px;
  padding: 10px 15px;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-size: 18px;
}

.sticky-nav-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.brand {
  background-image: url('../images/Vector.png');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar {
  background-color: #fff;
}

.brand-2 {
  background-image: url('../images/Vector.png');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 0 0 #000;
}

.nav-link-2 {
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.nav-link-3 {
  font-family: Poppins, sans-serif;
  font-size: 18px;
}

.nav-link-4 {
  font-family: Poppins, sans-serif;
  font-size: 18px;
}

.nav-link-5 {
  font-family: Poppins, sans-serif;
  font-size: 18px;
}

.navbar-2 {
  background-color: #fff;
}

.image {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.flex-container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-2 {
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-size: 45px;
  line-height: 50px;
  font-weight: 600;
}

.paragraph-2 {
  overflow: visible;
  clear: none;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.div-block {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.6 auto;
  -ms-flex: 0 0.6 auto;
  flex: 0 0.6 auto;
}

.text-field {
  display: inline;
  float: left;
}

.form {
  float: none;
  clear: both;
}

.submit-button {
  display: inline;
}

.submit-button-2 {
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #4353ff;
  font-family: Poppins, sans-serif;
  font-size: 18px;
}

.image-2 {
  text-align: left;
}

.hero-2 {
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container {
  margin: 67px auto 52px;
  padding: 25px 17px 34px;
}

.jumbotron {
  min-height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px none #000;
}

.body {
  font-family: Poppins, sans-serif;
}

.image-3 {
  margin-top: 11px;
  margin-bottom: 11px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-3 {
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fff;
}

.container-2 {
  margin-top: 127px;
  margin-bottom: 127px;
  padding-right: 10px;
  padding-left: 10px;
}

.div-block-2 {
  height: auto;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-2 {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.paragraph-3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
}

.text-field-2 {
  width: 350px;
  margin-right: 0px;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button-3 {
  margin-left: 0px;
  border-radius: 5px;
  background-color: #4353ff;
  font-size: 16px;
}

.jumbotron-column {
  position: static;
  height: auto;
  padding-right: 25px;
  padding-left: 10px;
}

.container-3 {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
}

.column {
  padding-right: 10px;
}

.heading-3 {
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: 600;
  text-align: left;
}

.heading-3.section-heading {
  margin-bottom: 30px;
  text-align: center;
}

.heading-3.right-heading {
  text-align: right;
}

.heading-3.store-heading {
  text-align: center;
}

.section {
  min-height: 70vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e1d3ff), to(#fff));
  background-image: linear-gradient(180deg, #e1d3ff, #fff);
}

.container-5 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 60px 10px 80px;
}

.container-5.self-portrait {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b1e5ec), to(#fff));
  background-image: linear-gradient(180deg, #b1e5ec, #fff);
}

.section-paragraph-1 {
  margin-top: 19px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.columns {
  margin-top: 20px;
}

.section-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1cdcd), to(#fff));
  background-image: linear-gradient(180deg, #f1cdcd, #fff);
}

.right-paragraph {
  font-size: 18px;
  line-height: 30px;
  text-align: right;
}

.section-3 {
  min-height: 70vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e1d3ff), to(#fff));
  background-image: linear-gradient(180deg, #e1d3ff, #fff);
}

.columns-2 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.container-4 {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
}

.container-4.mission {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.section-6 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ecd4b1), to(#fff));
  background-image: linear-gradient(180deg, #ecd4b1, #fff);
}

.image-4 {
  max-width: 100%;
}

.section-7 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd3eb), to(#fff));
  background-image: linear-gradient(180deg, #ffd3eb, #fff);
}

.image-5 {
  text-align: left;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-6 {
  display: inline-block;
  max-width: 80%;
  margin-right: auto;
  text-align: left;
}

.section-paragraph-2 {
  font-size: 18px;
  line-height: 30px;
}

.paragraph-4 {
  text-align: center;
}

.container-6 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 60px 10px 80px;
}

.container-6.self-portrait {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b1e5ec), to(#fff));
  background-image: linear-gradient(180deg, #b1e5ec, #fff);
}

.section-5 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 60px 10px 80px;
}

.section-5.self-portrait {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b1e5ec), to(#fff));
  background-image: linear-gradient(180deg, #b1e5ec, #fff);
}

@media screen and (max-width: 991px) {
  .paragraph-3 {
    font-size: 16px;
  }

  .text-field-2 {
    font-size: 14px;
  }

  .submit-button-3 {
    font-size: 14px;
  }

  .heading-3 {
    font-size: 36px;
  }

  .heading-3.section-heading {
    font-size: 36px;
  }

  .section-paragraph-1 {
    font-size: 16px;
  }

  .right-paragraph {
    font-size: 16px;
  }

  .section-paragraph-2 {
    font-size: 16px;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .hero {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .subscribe-form {
    padding: 40px 20px;
  }

  .sticky-nav-2 {
    position: relative;
  }

  .flex-container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero-2 {
    padding: 40px 20px;
  }

  .flex-container-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .jumbotron {
    text-align: left;
  }

  .paragraph-3 {
    text-align: left;
  }

  .text-field-2 {
    display: block;
  }

  .heading-3 {
    text-align: left;
  }

  .heading-3.right-heading {
    text-align: center;
  }

  .container-5 {
    text-align: center;
  }

  .right-paragraph {
    text-align: center;
  }

  .image-4 {
    max-width: 80%;
  }

  .container-6 {
    text-align: center;
  }

  .image-7 {
    max-width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .store-column {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .centered-container {
    text-align: left;
  }

  .subscribe-form-input-wrapper {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .subscribe-form-input {
    width: 100%;
  }

  .sticky-nav-2 {
    padding: 0px;
  }

  .heading-2 {
    overflow: visible;
  }

  .div-block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0.6 auto;
    -ms-flex: 0 0.6 auto;
    flex: 0 0.6 auto;
  }

  .container-2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .paragraph-3 {
    font-size: 14px;
    text-align: left;
  }

  .text-field-2 {
    width: 250px;
    font-size: 12px;
  }

  .submit-button-3 {
    font-size: 12px;
  }

  .heading-3 {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
  }

  .heading-3.section-heading {
    font-size: 24px;
  }

  .heading-3.right-heading {
    font-size: 24px;
    text-align: center;
  }

  .heading-3.community-heading {
    text-align: center;
  }

  .container-5 {
    min-height: 0vh;
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
  }

  .container-5.space-container {
    min-height: 80vh;
  }

  .section-paragraph-1 {
    font-size: 14px;
    line-height: 24px;
  }

  .right-paragraph {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }

  .section-paragraph-2 {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }

  .container-6 {
    text-align: center;
  }

  .column-2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .image-7 {
    max-width: 80%;
  }

  .store-column {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .fan-image-column {
    margin-bottom: 60px;
  }

  .collab-text {
    margin-bottom: 40px;
  }

  .column-3 {
    margin-top: 40px;
  }
}

